.navbar-search {
	min-width: 30rem !important;
}

div.collapse-item {
	cursor: pointer;
}

#keggmap {
	padding: 0px;
	width: auto;
	position: relative;
	overflow: auto;
}

#map-image{
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	position:absolute;
}

#keggmap-indicator {
	top: 7px;
	left: 7px;
	z-index: 10;
	opacity: 0.8;
	position:absolute;
}

.highlight-is-active {
	pointer-events:  none;
}
  
.highlight {
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
	z-index: 9999;
	pointer-events:  auto;
	transition: all 0.5s ease;
}

.error-message {
	position: fixed;
	top: 10px;
    right: 10px;
	width: 37%;
	display: none;
	z-index: 10;
}

.compound-area {
	width: 18px;
	height: 18px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
}

.compound-area .cpd-type-whole{
	width: 14px;
	height: 14px;
	border: 0.5px solid rgb(106, 106, 106);
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	position: absolute;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.compound-area .cpd-type-0{
	width: 7px;
	height: 14px;
	border: 0.5px solid rgb(106, 106, 106);
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-right: 0;
	position: absolute;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.compound-area .cpd-type-1 {
	width: 7px;
	height: 14px;
	border: 0.5px solid rgb(106, 106, 106);
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	border-left: 0;
	position: absolute;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.map-area {
	position: absolute;
	z-index: 1;
}

.enzyme-area {
	width: 46px;
	height: 15px;
	position: absolute;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	padding: 1.5px 0 1.5px 0;
	color: #000;
	vertical-align: middle;
	font-size: 12px;
	text-align: center;
	z-index: 2;
}

.type-block {
	position: absolute;
	z-index: 3;
	display: block;
	background-color: #d9d9d9;
}

.enzyme-area-number-tag{
	border: 1px solid #000;
	color: #000 !important;
	font-weight: 400 !important;
	text-shadow: None;
	position: absolute;
	z-index: 10;
	vertical-align: middle;
}

.enzyme-area-number-tag .high-contrast{
	text-shadow:
	   -1px -1px 0 #EEE,  
	    1px -1px 0 #EEE,
	   -1px  1px 0 #EEE,
	    1px  1px 0 #EEE !important;
}

.enzyme-area-target{
	border: 1px solid #000;
	background: #F0E68C;
	color: #000 !important;
	font-weight: 400 !important;
	text-shadow: none;
}

.gene-number-icon {
	cursor: pointer;
	z-index: 1001;
	position: absolute;
	font-size: 0.8rem;
}

/* div.gene-number-icon {
	cursor: pointer;
	background: #0078c9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0078c9), to(#2688c9));
    background-image: -webkit-linear-gradient(#0078c9, #2688c9);
    background-image: -moz-linear-gradient(#0078c9, #2688c9);
    background-image: -ms-linear-gradient(#0078c9, #2688c9);
    background-image: -o-linear-gradient(#0078c9, #2688c9);
    background-image: linear-gradient(#0078c9, #2688c9);

	font-family: 'Open Sans', sans-serif;
	border: 1px solid #0078c9;
	border-radius: 50%;
	height: 1.2em;
	width: 1.2em;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 1001;
	text-shadow: none;
}

div.gene-number-icon.warning {
	background: rgb(254, 201, 66);
	border: 1px solid #FECC42;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 201, 66)), to(rgb(232, 184, 62)));
    background-image: -webkit-linear-gradient(rgb(254, 201, 66), rgb(232, 184, 62));
    background-image: -moz-linear-gradient(rgb(254, 201, 66), rgb(232, 184, 62));
    background-image: -ms-linear-gradient(rgb(254, 201, 66), rgb(232, 184, 62));
    background-image: -o-linear-gradient(rgb(254, 201, 66), rgb(232, 184, 62));
    background-image: linear-gradient(rgb(254, 201, 66), rgb(232, 184, 62));
} */

span.tag-label {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 5px;
	border-bottom: 1px dashed #AAA;
	display: block;
	color: #FFBE32;
	text-shadow: none;
}

/*
Custom tooltipster
*/

.tooltipster-content {
	text-shadow: none;
}

.tooltipster-content table {
	width: 27em;
	margin: 1em;
	font-size: 0.85em;
	background: white;
}

.tooltipster-content table thead tr th {
	white-space: nowrap;
}

.tooltipster-content table thead th,
.tooltipster-content table tbody tr:last-child {
	border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
	border-bottom: 1px solid rgba(0,0,0,.1);
	color: #333333;
	padding: 7px;
}

.tooltipster-content table tbody th,
.tooltipster-content table tbody td {
	border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
	border-bottom: 1px solid rgba(0,0,0,.05);
	color: #333333;
	padding: 7px;
}
.tooltipster-content table tbody tr:last-child th,
.tooltipster-content table tbody tr:last-child td {
	border-bottom: 0;
}
.tooltipster-content table tbody tr:nth-child(odd) td,
.tooltipster-content table tbody tr:nth-child(odd) th {
	background-color: #eeeeee; /* non-RGBA fallback  */
	background-color: rgba(0,0,0,.04);
}
.tooltipster-content table tbody td a {
	float: left;
	color: #B20000;
}

.exp-scale {
	border-color: #c6c9dc;
}

input.exp-scale {
	border-color: #c6c9dc;
	width: 2em;
	text-align: center;
}